<div class="container">
  <header>
    <nav>
      <ul>
        <li *ngIf="authService.isLoggedIn"><a routerLink="/home">Home</a></li>
        <li *ngIf="authService.isLoggedIn"><a routerLink="/personal-details">Personal Details</a></li>
        <li *ngIf="!authService.isLoggedIn"><a routerLink="/login">Login</a></li>
        <li *ngIf="!authService.isLoggedIn"><a routerLink="/registration">Register</a></li>
        <li *ngIf="authService.isLoggedIn"><a (click)="logout()">Logout</a></li>

      </ul>
    </nav>
  </header>
  <main>
    <router-outlet></router-outlet>
  </main>
</div>
